body {
  margin: 0;
  font-family: didot,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  background-color: var(--color-four);
  color: var(--color-five);
}

#main {
  margin-top: 230px;
  margin-bottom: 130px;
  margin-right: 20px;
  margin-left: 20px;
}

/* header */
#header {
  background-color: var(--color-three);
  width: 100%;
  margin: 0;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

#header h1 {
  background-color: var(--color-three);
}

.header nav {
  border-radius: 10px;
  margin: 5px;
}

h1 {
  font-size: 45px;
  text-shadow: -1px 1px 1px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

button {
  border: 2px solid ;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  margin: 5px;
}

button span {
  background-color: var(--color-two);
  font-size: 20px;
  margin: 3px;
  color: var(--color-four);
}

.navActive {
  background-color: var(--color-four);
  border: 2px solid var(--color-two);
}

.navActive span {
  background-color: var(--color-four);
  color: var(--color-two);
}

/* footer */
.footer {
  position: absolute;
  width: 100%;
  height: 25%;
  text-align: center;
  margin: auto;
}

.footer p {
  background-color: var(--color-three);
  font-size: 20px;
}

.footer a {
  background-color: var(--color-three);
  opacity: 75%;
}

.footer svg {
  background-color: var(--color-three);
  margin: 15px;
}

.footer a:hover {
  opacity: 100%;
}

/* about */
h2 {
  font-size: 30px;
}

.selfie {
  max-height: 200px;
  margin: 15px;
  border: 2px solid var(--color-four);
  border-radius: 10px;
}

.about {
  margin: 20px;
  justify-content:center;
}

.bio {
  width: 60%;
  margin:auto;
  font-weight: bolder;
}

/* projects */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 20px;
  border-radius: 7px;
}

.gallery img {
  display: flex;
  height: 100px;
  object-fit: cover;
}

.card {
  display:flex;
  flex-direction:column;
  width: 250px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  border: 2px solid;
  border-radius: 7px;
}

.card a {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  ;
  color: rgb(25, 15, 31);
  margin: 5px;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 3px;
  border: 2px solid;
}

.card a svg {
  background-color: rgb(196, 249, 193);
  color: rgb(28, 82, 26);
  border-radius: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}

body {
  height: 100%;
}

/* contact */
#contact-form div {
  margin: 20px;
}

#contact-form input {
  margin: 8px;
  border: 2px solid;
  background-color: aliceblue;
  border-radius: 8px;
}

#contact-form textarea {
  margin: 8px;
  border: 2px solid ;
  background-color: aliceblue;
  border-radius: 8px;
}

.error-text {
  font-weight: bold;
  color: black;
}

/* resume */
#download {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}